@model cookingWithPots.Models.Dto.RecipeListAndSearchCriteriaDto
@{
    ViewData["Title"] = "All Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Recipes</h2>
<br />

<form asp-action="Index">
    <div class="row">
        <div class="form-group col-md-6">
            <label>Search by recipe title, description or ingredients</label>
            <input asp-for="searchCriteriaDto.SearchTerms" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Show only recipes that use a slow cooker (crock pot)? </label>
            <br />
            <select asp-for="searchCriteriaDto.SlowCooker" class="form-control">
                <option value="False">No</option>
                <option value="True">Yes</option>
            </select>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>

</form>

<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Uses Slow Cooker
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.SlowCooker.HasValue && item.SlowCooker.Value == true)
                    {
                        <p>Yes</p>
                    }
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.RecipeId">View</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
